/**
 * @Author: Your name
 * @Date:   2024-04-04 10:09:02
 * @Last Modified by:   Your name
 * @Last Modified time: 2024-04-09 04:24:33
 */

.data-stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Jika Anda ingin menyesuaikan lebih lanjut, tambahkan gaya CSS tambahan di sini */
